<h1>Listing meal_plans</h1>

<table>
  <tr>
    <th>Start Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meal_plans.each do |meal_plan| %>
  <tr>
    <td><%= meal_plan.starting_at.strftime('%Y/%m/%d') if meal_plan.starting_at  %></td>
    <td><%= link_to 'Show', meal_plan %></td>
    <td><%= link_to 'Edit', edit_meal_plan_path(meal_plan) %></td>
    <td><%= link_to 'Destroy', meal_plan, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meal plan', new_meal_plan_path %> |
<%= link_to 'Back', root_path %>
