<p id="notice"><%= notice %></p>

<div>
  <table>
    <tr>
      <td>
        <h2>Lunch Meals</h2>
        <% @lunch_meals.each do |meal| %>
          <div>
            <%= meal.day %><br />
            <ul>
              <li><%= meal.meal.try(:title) %></li>
              <li><%= meal.meal.try(:description) %></li>
            </ul>
          </div>
        <% end %>
      </td>
      <td>
        <h2>Dinner Meals</h2>
        <% @dinner_meals.each do |meal| %>
          <div>
            <%= meal.day %><br />
            <ul>
              <li><%= meal.meal.try(:title) %></li>
              <li><%= meal.meal.try(:description) %></li>
            </ul>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<%= link_to 'Edit', edit_meal_plan_path(@meal_plan) %> |
<%= link_to 'Shopping List', shopping_list_meal_plan_path(@meal_plan) %> |
<%= link_to 'Back', meal_plans_path %>
