<h1>Listing meals</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Active</th>
    <th>Meal Times</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meals.each do |meal| %>
  <tr>
    <td><%= meal.title %></td>
    <td><%= meal.description %></td>
    <td><%= meal.active %></td>
    <td>
      <div class="meal_times">
        <%= meal.meal_times.collect{|meal_time| meal_time.name}.join(", ") %>
      </div>
    </td>
    <td><%= link_to 'Show', meal %></td>
    <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
    <td><%= link_to 'Deactivate', deactivate_meal_path(meal), method: :post %></td>
    <td><%= link_to 'Activate', activate_meal_path(meal), method: :post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meal', new_meal_path %>
