<%= form_for(@meal_plan_meal) do |f| %>
  <% if @meal_plan_meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal_plan_meal.errors.count, "error") %> prohibited this meal_plan_meal from being saved:</h2>

      <ul>
      <% @meal_plan_meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :custom_description %><br />
    <%= f.text_area :custom_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
