<h1>Listing meal_plan_meals</h1>

<table>
  <tr>
    <th>Custom description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meal_plan_meals.each do |meal_plan_meal| %>
  <tr>
    <td><%= meal_plan_meal.custom_description %></td>
    <td><%= link_to 'Show', meal_plan_meal %></td>
    <td><%= link_to 'Edit', edit_meal_plan_meal_path(meal_plan_meal) %></td>
    <td><%= link_to 'Destroy', meal_plan_meal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meal plan meal', new_meal_plan_meal_path %>
